table {
	/* width: 100%; */
	text-align: left;
	position: relative;
	border-collapse: collapse;
}

th {
	cursor: pointer;
}

th,
td {
	padding: 10px;
	word-break: break-word;
}

tr.red th {
	background: red;
	color: white;
}

tr.green th {
	background: green;
	color: white;
}

tr.purple th {
	background: purple;
	color: white;
}

thead tr {
	position: sticky;
	top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

th {
	background: white;
}

input[type=checkbox] {
	transform: scale(2.1);
	margin-right: 10px;
}

input[type=checkbox]+label {
	margin-right: 10px;
}




#hideCols li {
	padding: 10px 0px;
	padding-left: 10px;
}

.list {
	height: 100vh;
	max-height: 30vh;
	overflow-y: auto;
}

@media (min-width: 1024px) {
	.list {
		max-height: 99vh;
	}
}

.pure-table td.title {
	line-height: 40px;
	font-size: 18px;
}

.list {
	/* height: calc(100vh - 100px); */
	max-height: 100%;
}

#scrollArea {
	max-height: calc(100% - 60px);
	scroll-padding-top: 70px;
}

.hideRow {
	opacity: 0;
	font-size: 0;
}

.pure-menu-link {
	color: blue;
}

.pure-menu-link:visited {
	color: darkblue;
}

.pure-menu-has-children.vertical>.pure-menu-link:after {
	content: "\25B8";
	font-size: small;
	padding-left: .5em
}

.pure-menu-horizontal .vertical .pure-menu-children {
	left: 100%;
	top: 0;
	width: auto
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65);
}

.button-error {
	background: rgb(202, 60, 60);
}

.button-warning {
	background: rgb(223, 117, 20);
}

.button-secondary {
	background: rgb(66, 184, 221);
}


table tr th:nth-child(1) {
	width: 56px;
}

table tr th:nth-child(2) {
	width: 120px;
}

table tr th:nth-child(4) {
	width: 86px;
}

table tr th:nth-child(5) {
	width: 120px;
}

table tr th:nth-child(6) {
	width: 60px;
}

table tr th:nth-child(7) {
	width: 56px;
}

table tr th:nth-child(8) {
	width: 56px;
}

table tr th:nth-child(9) {
	width: 94px;
}

table tr th:nth-child(10) {
	width: 86px;
}

table tr th:nth-child(11) {
	width: 102px;
}

table tr th:nth-child(12) {
	width: 80px;
}

table tr th:nth-child(13) {
	width: 88px;
}

table tr th:nth-child(14) {
	width: 64px;
}